<div class="main">
  <div id="maint">
    <h1>Hello, I'm Lucas!</h1>
    <p>My name is Lucas and I'm based in São Paulo, Brazil. I've been exploring photography for the last 3 years, from portraits for friends to events. I'm more used to photography but sometimes I also make videos but I am limited in editing due to my laptop limits.</p>
  </div>
</div>

<h1 id="ph1">PHOTOGRAPHY</h1>
<p id="p1">Some photos I'm proud of</p>
<br />
<div class="gallery">
  <% @photos.each do |photo| %>
    <a href="<%= photo.image.url:prev %>">
      <div class="photo">
        <%= image_tag(photo.image.url(:thumb)) %>
      </div>
    </a>
  <% end %>
</div>